<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970463515163-jgo2cki19ea5si57ala3618n8ffo0t6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970463515163-jgo2cki19ea5si57ala3618n8ffo0t6r</string>
	<key>API_KEY</key>
	<string>AIzaSyBBx9mVH_w_-fqJT55oLuXB414zLoD9OPk</string>
	<key>GCM_SENDER_ID</key>
	<string>970463515163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-wallet-app-41e6b</string>
	<key>STORAGE_BUCKET</key>
	<string>my-wallet-app-41e6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970463515163:ios:b89141742cc8a0febedebe</string>
</dict>
</plist>